/* JobCard.css */

.job-card {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid #e0e0e0;
  padding: 24px;
  display: flex;
  border: 1px solid white;

  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.job-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-color: #3b82f6;
  transform: scale(1.05);
}

.job-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 12px;
  transition: color 0.3s ease;
}



.job-info {
  color: whitesmoke;
  margin-bottom: 10px;
}

.label {
  font-weight: 500;
  color: white;
}

.job-actions {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.view-btn,
.apply-btn {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  font-size: 0.9rem;
  border: 1px solid white;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: white;
}

.view-btn {
  background-color: #2563eb;
}

.view-btn:hover {
  background-color: #1d4ed8;
}

.apply-btn {
  background-color: #16a34a;
}

.apply-btn:hover {
  background-color: #15803d;
}

.icon {
  margin-right: 8px;
}

.loading-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  font-size: 1.25rem;
  color: #6b7280;
}
