.footer {
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.footer .social-icons a svg {
  color: white;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover svg.facebook {
  color: #3b82f6; /* blue-500 */
}

.footer .social-icons a:hover svg.twitter {
  color: #60a5fa; /* blue-400 */
}

.footer .social-icons a:hover svg.linkedin {
  color: #1d4ed8; /* blue-700 */
}

.footer .social-icons a:hover svg.github {
  color: #9ca3af; /* gray-400 */
}

.footer .footer-links {
  margin-top: 1rem;
}

.footer .footer-links a {
  color: white;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer .footer-links a:hover {
  color: #3b82f6;
}
